:root {
	--gutter: 1.5em 1.75em;
	--page-margin: 3em 1em;
}

@supports(padding: max(0px)) {
	:root {
		--page-margin: 3em max(1em, env(safe-area-inset-left), env(safe-area-inset-right));
	}
}

body {
	font-size: 14px;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: hsl(191, 60%, 15%);
	background-image: -moz-linear-gradient(top, hsl(191, 60%, 10%) 50%, hsl(191, 60%, 15%) 50%);
	background-image: -webkit-linear-gradient(top, hsl(191, 60%, 10%) 50%,hsl(191, 60%, 15%) 50%);
	background-image: linear-gradient(to bottom, hsl(191, 60%, 10%) 50%,hsl(191, 60%, 15%) 50%);
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	letter-spacing: .1em;
}

.wrapper-inner {
	width: 8.5in;
	max-width: 100%;
}

.flex-row, .flex-col {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	background: white;
}

.flex-row {
	flex-direction: row;
}

.flex-col {
	flex-direction: column;
}

.flex-grow {
	flex-grow: 1;
}

.flex-fluid {
	flex-basis: 0;
	flex-grow: 9999999;
}

.sidebar {
	flex-basis: 2.5in;
}

.header {
	padding: var(--page-margin);
	padding-bottom: 0;
	background-color: hsl(191, 60%, 15%);
}

.header .avatar {
	position: relative;
	overflow: hidden;
}

.header .avatar img {
	position: absolute;
	top: 0;
	left: 0;
	width: 101%;
	height: 101%;
	object-fit: cover;
	object-position: 50% 0;
}

.header .heading {
	padding: var(--gutter);
	text-align: center;
	text-transform: uppercase;
}

.header h1 {
	margin: 0 0 -.5em 0;
	padding: .5em 1em;
	border: 1px solid hsl(191, 60%, 30%);
	font-weight: 400;
}

.tagline {
	position: relative;
	top: .5em;
	padding: .5em;
	font-size: 1.1em;
	background: #ffffff;
	font-weight: 500;
	color: hsl(191, 60%, 30%);
}

.header .intro {
	background: hsl(191, 60%, 90%);
	padding: var(--gutter);
}

.header .contact {
	flex-wrap: wrap;
	padding: var(--gutter);
	padding-top: 0;
}

.header .contact > * {
	margin: auto;
	padding: var(--gutter);
	padding-top: 0;
	padding-bottom: 0;
}

.header .contact img {
	margin-right: .25em;
	height: 2em;
}

.content {
	padding: var(--page-margin);
	padding-top: 0;
	background: hsl(191, 60%, 10%);
}

.content .sidebar {
	padding: var(--gutter);
	background: rgb(223, 223, 223);
}

.content .main {
	padding: var(--gutter);
	flex-basis: 4.5in;
}

.content section h2 {
	margin: 0 0 1em 0;
	padding: .5em 0;
	font-size: 1.15em;
	font-weight: 500;
	border-style: solid;
	border-color: currentColor;
	border-width: 1px 0;
}

.content section p span {
	display: block;
	margin-bottom: .2em;
}

.title {
	font-size: 1.1em;
	font-weight: 600;
}

.name {
	font-weight: 500;
}

.logo {
	padding: var(--gutter);
	padding-left: 0;
	padding-top: 0;
}

.logo img {
	position: relative;
	top: .2em;
	width: 56px;
}

.experience .year,
.experience .address {
	opacity: .8;
}

.experience .description {
	margin: 1em 0;
}
